<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>demo4</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


<!-- 	<servlet>
		<servlet-name>PaymentServlet</servlet-name>
		<servlet-class>p2.PaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentServlet</servlet-name>
		<url-pattern>/payment</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>p1.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/payment</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>IpFilter</filter-name>
		<filter-class>p1.IpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IpFilter</filter-name>
		<url-pattern>/payment</url-pattern>
	</filter-mapping> -->

</web-app>